[submodule "checkouts/pkgs"]
	path = checkouts/pkgs
	url = https://github.com/siderolabs/pkgs
	branch = v1.12.0
[submodule "checkouts/talos"]
	path = checkouts/talos
	url = https://github.com/siderolabs/talos
	branch = v1.11.6
[submodule "checkouts/sbc-raspberrypi5"]
	path = checkouts/sbc-raspberrypi5
	url = https://github.com/talos-rpi5/sbc-raspberrypi5
	branch = main
